nav{
  background-color:red;
  text-align:center;
  padding:6px;
}
a{
  padding:5px;
  color:yellow;
}
h1{
  color:red;
}
header{
  background-color:yellow;
}
img{
  width:600px
}
.item{
  width:300px;
}
.its{
  border:2px solid yellow;
}
body{
  background-color:orange;
}
p{
  color:red;
}
h3{
  color:red;
}
span{
  float:right;
}
#description{
width:200px;
height:100px;
}